td.a {
background-color: rgb(113, 184, 184);
color: black;
font-size: ;
font-family: Arial, Helvetica, sans-serif;
}


thead.thead {
    background-color: rgb(113, 184, 184);
    color: black;
    font-size: ;
    font-family: Arial, Helvetica, sans-serif;
    }

td.break {
    background-color: rgb(142, 171, 252);
    color: rgb(0, 0, 0);
    font-size: ;
    font-family: Arial, Helvetica, sans-serif;

}