body{
    display: grid;
    grid-template-rows: 90px 1fr;   /*先把body切成上下 */
    width: auto;
    margin:0
}

div.menuback{
    display: grid;
    background: rgb(255, 255, 255);
    height: 70px;
}
div.menuback .menu_main{
    background:rgba(255, 250, 250, 0.5); /* 把清menu變成半透明的 */
    display: grid;
    grid-template-columns: 20% 60% 20%;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 999;                   /* 把這個menu的圖層至於最上面 才不會被下面的圖擋住*/
}

div.menuback .menu_main .logo{
    margin: 0;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    height: 70px;
}

div.menuback .menu_main ul{
    text-align: center;    /* 把字靠右 */
    margin-right: 10px;   /* 清單與銀幕旁邊的距離 這邊調lift是因為右邊那個div占了空間*/
    height: 70px;
}

div.menuback .menu_main li{
    display:inline;        /* 把清單轉成平行 */
    color: rgb(7, 6, 6); /* 把字的顏色改成黑色 */
    line-height: 130px;   /* 把字平行往下 */
    margin-right: 40px; /* 清單裡面字之間的距離 */
}

div.menuback .menu_main .user{
    margin:0;
    margin-top: 5px;
    margin-right:10px;
}

div.menuback .menu_main .user a{
    text-decoration:none;
}

#icon{
    color:rgb(187, 190, 199); 
    margin-right: 15px;
    font-size: 20px;
}

#icon:hover{
    color: rgb(7, 6, 6);
}

div.content{
    background: rgb(2, 2, 2);
    /* height: 120vh; */
}
.tales {
    width: 100vw;            /*圖片的寬度與高度 */
    max-height: 100vh
  }

div.main{
    display: grid;
    height: 110vh;
    display: grid; 
    grid-template-rows: 150px 1fr 100px; /*分成三塊 上給說明 中給圖片跑馬燈 下給footer */
}

div.main .intro{
    background: rgb(255, 255, 255);
    height: 150px;

}

div.main .intro .paragraph1{
    width: 70vw;
    margin:0px auto; /* div置中 */
    margin-top:18px;
    color: rgb(2, 2, 2);
}

div.main .intro .paragraph1 h1{
    font-family: 'Cinzel', serif;
    font-size: 18px;
    text-align: left;

}

}
div.main .intro .paragraph1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
}

div.main .workpieces{
    background: rgb(232, 180, 9);

}

div.main .footer{
    background: rgb(13, 193, 248);
    height: 100px;
}



