thead.thead {
    background-color: rgb(227, 225, 248);
    color: black;
    font-size: ;
    font-family: ‘cwTeXFangSong’, serif;
    }

td.font {
    
    color: black;
    font-size: ;
    font-family: ‘cwTeXFangSong’, serif;
    }

